.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #6a11cb, #2575fc); // Dégradé agréable
    color: #ffffff;
    padding: 1rem 1.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
}