.chat-list {
    position: relative;
    max-height: 64vh;
    flex-grow: 1; /* Prend toute la hauteur restante */
    overflow-y: auto; /* Défilement vertical pour les messages */
    background-color: #2a2a2a;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px; /* Éventuellement ajuster pour espacer légèrement l'input du reste */
}

/* Personnalisation de la barre de défilement pour Webkit (Chrome, Edge) */
.chat-list::-webkit-scrollbar {
    width: 6px; /* Largeur de la barre */
  }
  
  .chat-list::-webkit-scrollbar-track {
    background-color: #333; /* Couleur de la piste */
    border-radius: 10px; /* Bords arrondis */
  }
  
  .chat-list::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Couleur de la barre (thumb) */
    border-radius: 10px; /* Arrondi */
    border: 2px solid #333; /* Bordure ajoutée */
  }
  
  .chat-list::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Couleur au survol */
  }
  
  .chat-list::-webkit-scrollbar-thumb:active {
    background-color: #003f7f; /* Couleur active */
  }